html {
  margin-bottom: 65px;
}

$body-bg: #ffffff;
$body-color: #000000;

$primary:       #ffcf00;
$info:          #fefefe;
$warning:       #03ff07;
$light:         #8ECAE6;
$dark:          #ffffff;
$danger:        #FB8500;

@import "~bootstrap/scss/bootstrap";