html {
  margin-bottom: 80px;
}

$body-bg: #ffffff;
$body-color: #000000;

$primary:       #ffcf00;
$warning:       #ff0703;
$light:         #53c9ff;
$dark:          #322929;

@import "~bootstrap/scss/bootstrap";